name: Deploy User Management Service
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "konecta_erp/backend/UserManagementService/**"
      - ".github/workflows/deploy-user-management-service.yml"

env:
  IMAGE_NAME: ${{ secrets.REPO_URL }}/user-management-service

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/setup-gcloud@v2
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}
      - run: gcloud auth configure-docker us-east1-docker.pkg.dev
      - run: |
          cd konecta_erp
          docker build -f backend/UserManagementService/Dockerfile -t $IMAGE_NAME:${{github.sha}} .
      - run: docker push $IMAGE_NAME:${{github.sha}}
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.6
      - run: terraform init
        working-directory: ./Terraform/services/user-management
      - run: terraform plan -var="image=${{ env.IMAGE_NAME }}:${{ github.sha }}" -var="project_id=${{secrets.PROJECT_ID}}"
        working-directory: ./Terraform/services/user-management
      - if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -var="image=${{ env.IMAGE_NAME }}:${{ github.sha }}" -var="project_id=${{secrets.PROJECT_ID}}"
        working-directory: ./Terraform/services/user-management
